@font-face {
  font-family: "Kuper";
  src: url("font/kuper.eot");
  src: url("font/kuper.eot?#iefix") format("embedded-opentype"),
       url("font/kuper.woff") format("woff"),
       url("font/kuper.ttf") format("truetype"),
       url("font/kuper.svg#Kuper") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Kuper";
    src: url("./kuper.svg#Kuper") format("svg");
  }
}

[class^="i-"]:before, [class*="i-"]:before,
[class^="i-"]:after, [class*="i-"]:after {
	font-family: "Kuper";
	font-style: normal;
}

.i-add1:before{content:"\f100"}
.i-add2:before{content:"\f101"}
.i-add3:before{content:"\f102"}
.i-user3:before{content:"\f103"}
.i-list2:before{content:"\f104"}
.i-medal3:before{content:"\f105"}
.i-truck2:before{content:"\f106"}
.i-truck3:before{content:"\f107"}
.i-eshop2:before{content:"\f108"}
.i-gift1:before{content:"\f109"}
.i-star:before{content:"\f10a"}
.i-chat1:before{content:"\f10b"}
.i-send:before{content:"\f10c"}
.i-medal1:before{content:"\f10d"}
.i-google2:before{content:"\f10e"}
.i-user5:before{content:"\f10f"}
.i-user6:before{content:"\f110"}
.i-scooter:before{content:"\f111"}
.i-chart2:before{content:"\f112"}
.i-book:before{content:"\f113"}
.i-guarantee:before{content:"\f114"}
.i-export:before{content:"\f115"}
.i-import:before{content:"\f116"}
.i-locked1:before{content:"\f117"}
.i-lense:before{content:"\f118"}
.i-lock1:before{content:"\f119"}
.i-up:before{content:"\f11a"}
.i-gift2:before{content:"\f11b"}
.i-search2:before{content:"\f11c"}
.i-user1:before{content:"\f11d"}
.i-pin1:before{content:"\f11e"}
.i-heart2:before{content:"\f11f"}
.i-lock2:before{content:"\f120"}
.i-locked2:before{content:"\f121"}
.i-lock3:before{content:"\f122"}
.i-locked3:before{content:"\f123"}
.i-user2:before{content:"\f124"}
.i-user4:before{content:"\f125"}
.i-briefcase:before{content:"\f126"}
.i-phone2:before{content:"\f127"}
.i-time4:before{content:"\f128"}
.i-pin2:before{content:"\f129"}
.i-whatsapp2:before{content:"\f12a"}
.i-bill1:before{content:"\f12b"}
.i-response2:before{content:"\f12c"}
.i-down1:before{content:"\f12d"}
.i-up1:before{content:"\f12e"}
.i-sort:before{content:"\f12f"}
.i-right:before{content:"\f130"}
.i-left:before{content:"\f131"}
.i-check4:before{content:"\f132"}
.i-link:before{content:"\f133"}
.i-check3:before{content:"\f134"}
.i-close:before{content:"\f135"}
.i-heart1:before{content:"\f136"}
.i-team3:before{content:"\f137"}
.i-org:before{content:"\f138"}
.i-card2:before{content:"\f139"}
.i-like:before{content:"\f13a"}
.i-response4-1:before{content:"\f13b"}
.i-team2:before{content:"\f13c"}
.i-medal2:before{content:"\f13d"}
.i-info1:before{content:"\f13e"}
.i-download2:before{content:"\f13f"}
.i-truck1:before{content:"\f140"}
.i-scroll:before{content:"\f141"}
.i-bicy:before{content:"\f142"}
.i-instagram2:before{content:"\f143"}
.i-peace:before{content:"\f144"}
.i-email3:before{content:"\f145"}
.i-response1:before{content:"\f146"}
.i-balance:before{content:"\f147"}
.i-hset:before{content:"\f148"}
.i-card1:before{content:"\f149"}
.i-response3:before{content:"\f14a"}
.i-twitter1:before{content:"\f14b"}
.i-check5:before{content:"\f14c"}
.i-facebook1:before{content:"\f14d"}
.i-puzzle:before{content:"\f14e"}
.i-list1:before{content:"\f14f"}
.i-time5:before{content:"\f150"}
.i-update:before{content:"\f151"}
.i-edit2:before{content:"\f152"}
.i-time3:before{content:"\f153"}
.i-check1:before{content:"\f154"}
.i-edit1:before{content:"\f155"}
.i-save:before{content:"\f156"}
.i-config:before{content:"\f157"}
.i-facebook2:before{content:"\f158"}
.i-response4:before{content:"\f159"}
.i-logout:before{content:"\f15a"}
.i-search3:before{content:"\f15b"}
.i-time1:before{content:"\f15c"}
.i-team1:before{content:"\f15d"}
.i-youtube1:before{content:"\f15e"}
.i-youtube3:before{content:"\f15f"}
.i-instagram1:before{content:"\f160"}
.i-symbol:before{content:"\f161"}
.i-shop:before{content:"\f162"}
.i-time2:before{content:"\f163"}
.i-search1:before{content:"\f164"}
.i-youtube2:before{content:"\f165"}
.i-whatsapp1:before{content:"\f166"}
.i-down2:before{content:"\f167"}
.i-play:before{content:"\f168"}
.i-pdf:before{content:"\f169"}
.i-email1:before{content:"\f16a"}
.i-download1:before{content:"\f16b"}
.i-linkedin2:before{content:"\f16c"}
.i-down3:before{content:"\f16d"}
.i-email2:before{content:"\f16e"}
.i-eye:before{content:"\f16f"}
.i-home:before{content:"\f170"}
.i-peru:before{content:"\f171"}
.i-user8:before{content:"\f172"}
.i-user7:before{content:"\f173"}
.i-eshop1:before{content:"\f174"}
.i-email4:before{content:"\f175"}
.i-phone3:before{content:"\f176"}
.i-check2:before{content:"\f177"}
.i-twitter2:before{content:"\f178"}
.i-linkedin1:before{content:"\f179"}
.i-calendar:before{content:"\f17a"}
.i-chart1:before{content:"\f17b"}
.i-excel:before{content:"\f17c"}
.i-alert:before{content:"\f17d"}
.i-bill2:before{content:"\f17e"}
.i-info2:before{content:"\f17f"}
.i-phone1:before{content:"\f180"}
.i-chat2:before{content:"\f181"}